// showing default values
$accentColor = #3e76af //#3e76af //#3eaf7c
// $textColor = #ccc //#2c3e50
// $borderColor = #aaa //#eaecef
// $codeBgColor = #444 //#282c34

// 在该页面的 YAML front matter 中声明一个 pageClass
// pageClass: custom-page-class
// .theme-container.custom-page-class {
  /* 特定页面的 CSS */
// }

// https://github.com/vuejs/vuepress/tree/master/lib/default-theme/styles